---
const today = new Date();
---

<footer>
    <p>&copy; {today.getFullYear()} Brewagebear All rights reserved.</p>
    
    <p>
        <a href="https://github.com/brewagebear" target="_blank">GitHub</a> | 
        <a href="mailto://dev.liquid.bear@gmail.com" target="_blank">Email</a>
    </p>
</footer>